<div *ngIf="user">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title> Account Details</mat-card-title>
          <mat-card-subtitle>Hot-el</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Welcome to your account details page. You can change your password here.
          </p>
        <mat-list-item>
            <p mat-line><b>First Name:</b> {{user.firstName}}</p>
            <p mat-line><b>Last Name:</b> {{user.lastName}} </p>
            <p mat-line><b>Role:</b> {{user.roles[0]}} </p>
            <p mat-line><b>Gender:</b> {{user.gender}} </p>
            <p mat-line><b>Birthday:</b> {{user.birthday | date:'dd/MM/yyyy'}}</p>
            <p mat-line><b>Email:</b> {{user.email}} </p>
          </mat-list-item>
        </mat-card-content>
          <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-button (click)="goBack()">Go back</button>
          <button mat-button (click)="openChangePassword(user)">Change password </button>
        </mat-card-actions>
      </mat-card>
  </div>