<div class="container">
  <h3 class="section-title"> Change password </h3>
  <form class="example-form"  [formGroup]="changePasswordForm" (ngSubmit)="onSubmitPassword(changePasswordForm.value)">
    <table cellspacing="0">
      <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Password" formControlName="password" type="password" name="password">
              <mat-error *ngFor="let validation of validation_messages.password">
                <mat-error class="error-message" *ngIf="changePasswordForm.get('password').hasError(validation.type) && (changePasswordForm.get('password').dirty || changePasswordForm.get('password').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Reapet Password" formControlName="repeatPassword" type="password" name="repeatPassword">
              <mat-error *ngFor="let validation of validation_messages.repeatPassword">
                <mat-error class="error-message" *ngIf="changePasswordForm.get('repeatPassword').hasError(validation.type) && (changePasswordForm.get('repeatPassword').dirty || changePasswordForm.get('repeatPassword').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>

        <mat-action-row>
          <button class="submit-btn" color="primary" mat-raised-button type="submit" [disabled]="!changePasswordForm.valid">
            Change
          </button>
          <button mat-raised-button class="alert-modal-button alert-modal-button-failure" type="button"(click)="onCloseCancel()">
            Cancel
          </button>
          </mat-action-row>
      </table>
    </form>
</div>
