<div class="container">
  <h3 class="section-title"> Change password </h3>
  <form class="example-form" (ngSubmit)="onSubmitPassword(changePasswordForm.value)">
    <table cellspacing="0" [formGroup]="changePasswordForm">
      <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Password" formControlName="password" type="password" name="password">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Reapet Password" formControlName="repeatPassword" type="password" name="repeatPassword">
              <mat-error *ngIf="repeatPassword.invalid && repeatPassword.errors.passwordMatch">Password mismatch</mat-error>
            </mat-form-field>
          </td>
        </tr>

        <mat-action-row>
          <button class="submit-btn" color="primary" mat-raised-button type="submit" [disabled]="!changePasswordForm.valid">
            Change
          </button>
          <button mat-raised-button class="alert-modal-button alert-modal-button-failure" type="button"(click)="onCloseCancel()">
            Cancel
          </button>
          </mat-action-row>
      </table>
    </form>
</div>
