<mat-card *ngIf="room" class="example-card">
    <mat-card-header>
      <mat-card-title>Room no. {{room.number}}</mat-card-title>
      <mat-card-subtitle>Details</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- <h2>Room {{room.number}} Detail</h2> -->
      <p><b>Type:</b> {{room.type}} </p>
      <p><b>Size:</b> {{room.size}} </p>
      <p><b>Last conservation:</b> {{room.conservationDate | date:'dd/MM/yyyy'}} </p>
      <p><b>Occupied:</b> {{room.occupied}} </p> 
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="goBack()">Go back</button>
      <button mat-raised-button (click)="openNewReservationForm(room)">Reserve Room</button>
    </mat-card-actions>
  </mat-card>