<mat-card *ngIf="room" class="example-card">
    <mat-card-header>
      <mat-card-title>Room no. {{room.number}}</mat-card-title>
      <mat-card-subtitle>Details</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p><b>Type:</b> {{room.type}} </p>
      <p><b>Size:</b> {{room.size}} </p>
      <p><b>Last conservation:</b> {{room.conservationDate | date:'dd/MM/yyyy'}} </p>
      <p><b>Occupied:</b> {{room.occupied}} </p> 
      <!-- <p><b>Reserved:</b> {{room.reserved}} </p>  -->
      <h4>Reservations: </h4>
      <div *ngFor="let r of reservations">
          <small><b>First name:</b> {{r.firstName}} </small>
          <small><b>Last name:</b> {{r.lastName}} </small>
          <small><b>ID card:</b> {{r.idCard}} </small>
          <small><b>From:</b> {{r.from | date:'dd/MM/yyyy'}} </small>
          <small><b>To:</b> {{r.to | date:'dd/MM/yyyy'}} </small>
          <br>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="goBack()">Go back</button>
      <button mat-raised-button (click)="openNewReservationForm(room)">Reserve Room</button>
    </mat-card-actions>
  </mat-card>