<mat-card *ngIf="room" class="example-card">
    <mat-card-header>
      <mat-card-title>Room {{room.number}} Details</mat-card-title>
      <!-- <mat-card-subtitle>Type: {{room.type}} </mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
      <!-- <h2>Room {{room.number}} Detail</h2> -->
      <p>Type: {{room.type}} </p>
      <p>Size: {{room.size}} </p>
      <p>Date: {{room.conservationDate}} </p>
      <p>Id: {{room._id}}</p>
      <p>Ocuupied: {{room.occupied}} </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openDeleteRoom(room)">Delete</button>
      <button mat-raised-button color="primary" (click)="openUpdateRoom(room)">Update Room</button>
      <button mat-button (click)="goBack()">go back</button>
    </mat-card-actions>
  </mat-card>