<div class="container">
  <div class="row">

    <div class="col">
      <h3 class="section-title">Account Form</h3>
      <form [formGroup]="accountForm" (ngSubmit)="onSubmitAccount(accountForm.value)">
        <mat-form-field class="full-width">
          <input matInput placeholder="First Name" formControlName="firstName" required>
          <mat-error *ngFor="let validation of validation_messages.firstName">
            <mat-error class="error-message" *ngIf="accountForm.get('firstName').hasError(validation.type) && (accountForm.get('firstName').dirty || accountForm.get('firstName').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

        <br>
        
        <mat-form-field class="full-width">
              <input matInput placeholder="Last Name" formControlName="lastName" required>
              <mat-error *ngFor="let validation of validation_messages.lastName">
                <mat-error class="error-message" *ngIf="accountForm.get('lastName').hasError(validation.type) && (accountForm.get('lastName').dirty || accountForm.get('lastName').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
    
            <br>

        <mat-form-field class="full-width">
          <input matInput [matDatepicker]="picker" placeholder="Your birthday" formControlName="birthday" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngFor="let validation of validation_messages.birthday">
            <mat-error class="error-message" *ngIf="accountForm.get('birthday').hasError(validation.type) && (accountForm.get('birthday').dirty || accountForm.get('birthday').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

        <br>

        <mat-form-field class="full-width">
          <mat-select placeholder="Gender" formControlName="gender">
            <mat-option *ngFor="let gender of genders" [value]="gender">
              {{ gender }}
            </mat-option>
          </mat-select>
          <mat-error *ngFor="let validation of validation_messages.gender">
            <mat-error class="error-message" *ngIf="accountForm.get('gender').hasError(validation.type) && (accountForm.get('gender').dirty || accountForm.get('gender').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
     
        <br>

        
        <mat-form-field class="full-width">
              <mat-select placeholder="Position" formControlName="position">
                <mat-option *ngFor="let position of positions" [value]="position">
                  {{ position }}
                </mat-option>
              </mat-select>
              <mat-error *ngFor="let validation of validation_messages.position">
                <mat-error class="error-message" *ngIf="accountForm.get('position').hasError(validation.type) && (accountForm.get('position').dirty || accountForm.get('position').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
         
            <br>

        <mat-form-field class="full-width">
              <input matInput type="email" placeholder="Email" formControlName="email" required>
              <mat-error *ngFor="let validation of validation_messages.email">
                <mat-error class="error-message" *ngIf="accountForm.get('email').hasError(validation.type) && (accountForm.get('email').dirty || accountForm.get('email').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
            
       <br>

<mat-action-row>

        <button class="submit-btn" color="primary" mat-raised-button type="submit" [disabled]="!accountForm.valid">
         Add
        </button>

        <button mat-raised-button class="alert-modal-button alert-modal-button-failure" type="button"(click)="onCloseCancel()">Cancel</button>
      </mat-action-row>

      </form>
    </div>
  </div>
</div>
