/* EmployeeDetailComponent's private CSS styles */
label {
    display: inline-block;
    width: 3em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
  }
  input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
  }
  button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer; cursor: hand;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
  
  button.update {
    position: relative;
    left: 250px;
    top: -32px;
    background-color: gray !important;
    color: white;
  }
  
  example-card {
    max-width: 200px;
  }
  
  .example-header-image {
    background-image: url('https://www.gstatic.com/webp/gallery/1.jpg');
    background-size: cover;
  }
  
  img {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }