<div *ngIf="employee">
  <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{employee.firstName}} {{employee.lastName}}</mat-card-title>
        <mat-card-subtitle>{{employee.roles[0]}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list-item>
            <p mat-line><b>Gender:</b> {{employee.gender}}</p>
            <p mat-line><b>Birthday:</b> {{employee.birthday | date:'dd/MM/yyyy'}}</p>
            <p mat-line><b>Email:</b> {{employee.email}} </p>
          </mat-list-item>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="goBack()">Go back</button>
        <button mat-button (click)="openUpdateEmployeeForm(employee)">Update</button>
        <button mat-button color="warn" (click)="openDeleteEmployeeModal(employee)">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
