form {
    display: flex;
    flex-direction: column;
}

.mat-card {
    // flex-wrap: wrap;
    // flex-direction: row;
    display: inline-grid;
    margin: 5px;
}

mat-card {
    width: 450px;
}

.cards {
    position: center;
}



