<mat-card>
  <mat-card-header>
    <mat-card-title>Invoice</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="invoice-form" [formGroup]='invoiceForm'>
      <mat-form-field>
        <input type="text" matInput placeholder="Invoice No." formControlName="invoiceNumber">
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="dp" placeholder="Issue Date" formControlName="issueDate">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input [matDatepicker]="dp1" matInput placeholder="Due Date" formControlName="dueDate">
        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
        <mat-datepicker #dp1 disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput placeholder="Tax" formControlName="tax">
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Services</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Service" aria-label="Service" [matAutocomplete]="auto" [formControl]="serviceInput">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let service of services" [value]="service">
          <span>{{service.name}}</span> |
          <small>Price: {{service.price}}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Quantity" [formControl]="quantity">
    </mat-form-field>

    <button mat-button (click)="Add()">Add</button>

    <mat-list dense>
        <mat-list-item *ngFor="let item of selectedServices; let index=i">
            <mat-icon mat-list-icon>settings</mat-icon>
            <h3 mat-line><b>Service Name: {{item.name}}</b></h3>
            <p mat-line>
              Price: {{item.price}} |
              Quantity: {{item.quantity}} |
              Total: {{item.total}}
            </p>
            <button mat-raised-button color="warn" (click)="delete(i)">Delete</button>
        </mat-list-item>
    </mat-list>
    
  </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>Summary</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <h4>Subtotal: {{subtotal}}</h4>
        <h4>Grandtotal: {{grandtotal}}</h4>
    </mat-card-content>
    <mat-card-actions align="start">
        <button mat-raised-button (click)="submit()">Submit</button>
        <button mat-raised-button (click)="cancel()">Cancel</button>
    </mat-card-actions>
</mat-card>