.rooms1 {
    padding: 0px 6px 0px 6px;
    margin: 6px 6px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    text-align: left;
    text-decoration:none;
    border: none;
    outline: none;
    width: 100%;
  }