<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Employees</mat-card-title>
    <mat-card-subtitle>Manager your employees</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="openNewEmployeeForm()">New Employee</button>
    <a mat-raised-button routerLink="/manager">Manager Board</a> 
    <a mat-raised-button routerLink="/calendar">Schedule</a>  
  </mat-card-actions>
      <!-- <app-employee-search></app-employee-search> -->
      <mat-card-content>
      <h1> List of Employees </h1>
      </mat-card-content>
  <mat-divider></mat-divider>
  <button class="button1" mat-button *ngFor="let employee of employees" mat-button (click)="fastRoute(employee._id)"> 
    <i class="material-icons">face </i> {{employee.firstName}} {{employee.lastName}} {{employee.roles[0]}}  
    <mat-divider></mat-divider>  
  </button>
  <mat-divider></mat-divider>
</mat-card>