<mat-card>
    <mat-card-content>
        <h2>Delete room</h2>
        <p>Are you sure tocancel this reservation: 
          {{reservation.firstName}} {{reservation.lastName}} no. <b>{{reservation.number}} 
            ({{reservation.from | date:'dd/MM/yyyy'}}) </b>?</p>
      </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" class="alert-modal-button alert-modal-button-success" (click)="onCloseConfirm()">Yes</button>
          <button mat-raised-button class="alert-modal-button alert-modal-button-failure" (click)="onCloseCancel()">No</button>
      </mat-card-actions>
    </mat-card>
