<h1 matDialogTitle>Edit Service</h1>

<mat-dialog-content>
    <form [formGroup]="form">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Description" formControlName="description">
      </mat-form-field>
      <mat-form-field>
        <input id="price" matInput placeholder="Price" formControlName="price" required>
        <div *ngIf="price.invalid && (price.dirty || price.touched)">
            <div *ngIf="price.errors.min">Must be greater than 0</div> 
          </div>
      </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-flat-button color="primary" matDialogClose>Close</button>
    <button mat-flat-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>