<div class="row text-center">
    <h1>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h1>
    <table class="center">
      <tr>
          <td>
            <button mat-button
              class="btn btn-primary"
              mwlCalendarPreviousView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="activeDayIsOpen = false">
              Previous
          </button>
          </td>
          <td>  
            <button mat-button
              class="btn btn-outline-secondary"
              mwlCalendarToday
              [(viewDate)]="viewDate">
              Today
            </button>
          </td>
          <td>  
            <button mat-button
              class="btn btn-primary"
              mwlCalendarNextView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="activeDayIsOpen = false">
              Next
            </button>
          </td>
        </tr>
      </table>
      
    <div *ngIf="adminOrManager">
      <h3>Add new event</h3>
      <form [formGroup]="eventForm" (ngSubmit)="onSubmitEvent(eventForm.value)">
            <mat-form-field class="full-width">
              <mat-select formControlName="employee" placeholder="Name">
                  <mat-option *ngFor="let employee of employees" [value]="employee">
                    {{ employee.firstName }} {{employee.lastName}} {{employee.roles[0]}}
                  </mat-option>   
                  <mat-error *ngFor="let validation of validation_messages.employee">
                    <mat-error class="error-message" *ngIf="eventForm.get('employee').hasError(validation.type) && (eventForm.get('employee').dirty || eventForm.get('employee').touched)">{{validation.message}}</mat-error>
                  </mat-error>   
                </mat-select>
              </mat-form-field>    
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="start" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngFor="let validation of validation_messages.start">
                  <mat-error class="error-message" *ngIf="eventForm.get('start').hasError(validation.type) && (eventForm.get('start').dirty || eventForm.get('start').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <input min="0" max="24" matInput placeholder="Starts at" formControlName="from" required>
                  <mat-error *ngFor="let validation of validation_messages.from">
                    <mat-error class="error-message" *ngIf="eventForm.get('from').hasError(validation.type) && (eventForm.get('from').dirty || eventForm.get('from').touched)">{{validation.message}}</mat-error>
                  </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <input min="0" max="24" matInput placeholder="Ends at" formControlName="to" required>
                  <mat-error *ngFor="let validation of validation_messages.to">
                    <mat-error class="error-message" *ngIf="eventForm.get('to').hasError(validation.type) && (eventForm.get('to').dirty || eventForm.get('to').touched)">{{validation.message}}</mat-error>
                  </mat-error>
              </mat-form-field>    
              <button class="submit-btn" color="primary" mat-raised-button type="submit" [disabled]="!eventForm.valid">
                Add
              </button>
        </form>  
      </div>

  <br>

    <mwl-calendar-month-view
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      >
    </mwl-calendar-month-view>
  
