<mat-card>
    <mat-card-header>
        <mat-card-title>Rooms</mat-card-title>
        <mat-card-subtitle>Type: {{category}}</mat-card-subtitle>
        <mat-card-subtitle>Size: {{size}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-divider></mat-divider>
        <mat-nav-list>
            <a class="rooms1" mat-button *ngFor="let room of rooms" [routerLink]="['/room-details/', room._id]">
                Room {{room.number}}
                <mat-divider></mat-divider>
            </a>
         </mat-nav-list>
    </mat-card-content>
</mat-card>